/bin/
/obj/
/out/
/Debug/
/Release/
/build/
/html/
/latex/

*.o
*.obj
*.so
*.a
*.ilk
*.exe

*.tmp
*.log
*.lock
*.pid
*.gz
*.json

.vscode/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates
*.DS_Store

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeLists.txt.user

Makefile
Makefile.in

Doxyfile